<!-- nav -->
<nav
  class="navbar navbar-expand navbar-dark bg-dark navbar-expand-lg justify-content-between"
  *ngIf="currentUser | async"
>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/" (click)="logout()">Logout</a>
  </div>
  <div class="navbar-text">
    Tempête sur l'échiquier online
  </div>
  <span class="navbar-text">
    {{ (currentUser | async).username }}
  </span>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
