<!-- nav -->
<nav
  class="navbar fixed-top navbar-expand navbar-dark bg-dark navbar-expand-lg justify-content-between"
  *ngIf="currentUser | async as currentUser"
>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/" (click)="logout()">Logout</a>
  </div>
  <div class="navbar-text">
    {{ title }}
  </div>
  <span class="navbar-text">
    {{ currentUser.username }}
  </span>
</nav>

<!-- TODO better template sans jumbotron -->
<alert></alert>

<div class="jumbotron-fluid jumbotron">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>