<div *ngIf="gameSubject | async as game; else loading">
  <button (click)="click()">click</button>
  &nbsp;<strong>{{ game.turn }}</strong> &nbsp; white ({{
    game.whitePlayer.username
  }}) vs black ({{ game.blackPlayer?.username }})<br />
  {{ game.turn }} to play
  
  <!-- (positionChange)="positionChange($event)" -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ng2-chessboard
          (moveMade)="moveMade($event)"
          [player]="playerColor"
          [turn]="game.turn"
          [width]="'400px'"
          [position]="game.position"
          [draggable]="true"
          [orientation]="orientation"
        ></ng2-chessboard>
      </div>
      <div class="col">
        <pre>{{ game | json }}</pre>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading game...
</ng-template>
