<div *ngIf="gameSubject | async as game; else loading">
  <div style="padding-left: 20px;">
    <button (click)="resign()" [disabled]="!isMyTurn()">Resign</button><br />
    {{ game.whitePlayer.username }} (white) vs
    {{ game.blackPlayer?.username }} (black)<br />
    <div *ngIf="game.status === 'FINISHED_RESIGN'">RESIGNED !</div>
    <div *ngIf="game.status === 'FINISHED_MATE'">CHECKMATE !</div>
    <strong *ngIf="game.status === 'STARTED' || game.status === 'OPEN'"
      >{{ game.turn === 'b' ? 'BLACK' : 'WHITE' }} to play</strong
    >
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ng2-chessboard
          (moveMade)="moveMade($event)"
          [gameStatus]="game.status"
          [lastMove]="game.lastMove"
          [player]="playerColor"
          [turn]="game.turn"
          [width]="'400px'"
          [position]="game.position"
          [draggable]="true"
          [orientation]="orientation"
        ></ng2-chessboard>
      </div>
      <div class="col">
        <pre>{{ game | json }}</pre>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading game...
</ng-template>
